/* common.css */
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat+Subrayada&family=Montserrat:wght@500&family=Playfair+Display&family=Roboto+Slab&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    background-color: rgb(151, 114, 68);
    font-weight: 500;
    color: black;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.heading {
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
    margin: 3.5rem 0;
    color: #1a1a1a;
}

.main-nav {
    display: flex;
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    padding: 10px;
    background: #ffffff;
    min-height: 65px;
    background-color: rgb(151, 114, 68);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin-left: 35px;
    line-height: 1.5;
}

a {
    /* color: #292929; */
    color: rgb(53, 53, 53);
}

nav ul a {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    transition: .5s;
}

nav ul a:hover {
    color: black;
    /* color: rgb(59, 182, 59); */
    font-weight: 500;
    font-size: 1.3em;
    border-bottom-color: #989898;
}

header {
    color: rgb(128, 127, 127);
    height: 700px;
    background-image: url(assets/flower.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper-header {
    margin-top: 3em;
    margin-left: 3em;
    width: 588px;
}

@keyframes moveLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
}

h1 {
    font-size: 2em;
    animation: moveLeft .5s ease-out .3s backwards;
}

header h2 {
    animation: moveRight .5s ease-out .8s backwards;
}

[class*="column-2"] {
    padding-left: 15px;
    padding-right: 15px;
    min-width: 1px;
    max-width: 100%;
}

.column-2 {
    flex: 0 0 50%;
}